{% extends "base.html" %}

{% block body%}
{% load static %}
<div class="container-fluid">
	<div class="container">
			<h2>Auxiliares</h2>           
			<a href="/addalimento/"><button type="button" class="btn btn-info">Adicionar</button></a>
			<h3>Lista de Alimentos</h3>
		{% if al_list %}

		<div class="thumbnail col-sm-6">
			{% for a in al_list %}
			<ul class="list-group">
			<li class="list-group-item"><a href="/veralimento/{{ a.id }}"> <label>{{ a.desc }}</label> </a> 
				<a href="/editalimento/{{ a.id }}"><img src="{% static "img/edit.png" %}" style="display:inline-block" /></a> 
				<a href="/deletealimento/{{ a.id }}"><img src="{% static "img/delete.png" %}" style="display:inline-block" /></a>
			</li>
			</ul>
			{% endfor %}

			<div class="pagination">
			    <span class="step-links">
			        {% if al_list.has_previous %}
			            <a href="?page={{ al_list.previous_page_number }}">Anterior</a>
			        {% endif %}

			        <span class="current">
			            Página {{ al_list.number }} de {{ al_list.paginator.num_pages }}
			        </span>

			        {% if al_list.has_next %}
			            <a href="?page={{ al_list.next_page_number }}">Próximo</a>
			        {% endif %}
			    </span>
			</div>

		{% endif %}
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% endblock %}