{% extends "base.html" %}

{% block body%}
{% load static %}
<div class="container-fluid">
	<div class="container">
			<h2>Auxiliares</h2>           
			<a href="/addaux/"><button type="button" class="btn btn-info">Adicionar</button></a>
			<h3>Lista de Auxiliares</h3>
		{% if aux_list %}

		<div class="thumbnail col-sm-3">
			<h4> Categorias de Alimentos </h4>
			{% for aux in aux_list %}
			{% if aux.tipo == 1 %}
			<ul class="list-group">
			<li class="list-group-item"> <label>{{ aux.desc }} </label>
				<a href="/editaux/{{ aux.id }}"><img src="{% static "img/edit.png" %}" style="display:inline-block" /></a> 
				<a href="/deleteaux/{{ aux.id }}"><img src="{% static "img/delete.png" %}" style="display:inline-block" /></a>
			</li>
			</ul>
			{% endif %}
			{% endfor %}
		</div>	
		<div class="thumbnail col-sm-3">
			<h4> Tipos de Preparo </h4>
			{% for aux in aux_list %}
			{% if aux.tipo == 2 %}
			<ul class="list-group">
			<li class="list-group-item"><label>{{ aux.desc }} </label>
				<a href="/editaux/{{ aux.id }}"><img src="{% static "img/edit.png" %}" style="display:inline-block" /></a> 
				<a href="/deleteaux/{{ aux.id }}"><img src="{% static "img/delete.png" %}" style="display:inline-block" /></a>
			</li>
			</ul>
			{% endif %}
			{% endfor %}
		</div>	
		<div class="thumbnail col-sm-3">
			<h4> Cocção </h4>
			{% for aux in aux_list %}
			{% if aux.tipo == 3 %}
			<ul class="list-group">
			<li class="list-group-item"><label>{{ aux.desc }} </label>
				<a href="/editaux/{{ aux.id }}"><img src="{% static "img/edit.png" %}" style="display:inline-block" /></a> 
				<a href="/deleteaux/{{ aux.id }}"><img src="{% static "img/delete.png" %}" style="display:inline-block" /></a>
			</li>
			</ul>
			{% endif %}
			{% endfor %}
		</div>	
		<br />

		{% endif %}
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% endblock %}