{% extends "base.html" %}

{% block body%}
{% load static %}
<div class="container">
	<br /><br />	<br /><br />
	<!-- <a href="/aux/"><button type="button" class="btn btn-info">Auxiliares</button></a>
	<a href="/alimentos/"><button type="button" class="btn btn-info">Alimentos</button></a>
	<a href="/prepara/"><button type="button" class="btn btn-info">Preparações</button></a>
	<a href="#"><button type="button" class="btn btn-info">Cardápios</button></a> -->

	 <img src="{% static "img/nutriProject_coler.png" %}" alt="Logo" width="75%" height="75%" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% endblock %}