{% extends "base.html" %}

{% block body%}
<div class="container-fluid">
	<div class="container">
			<h2>Alimento</h2>
			<a href="/editalimento/{{ al.id }}"><button type="button" class="btn btn-info">Editar</button></a>
			<a href="/deletealimento/{{ al.id }}"><button type="button" class="btn btn-danger">Deletar</button></a>
			<a href="/alimentos/"><button type="button" class="btn btn-default">Voltar</button></a>
			<a href="/addalimento/"><button type="button" class="btn btn-info">Adicionar Novo</button></a>
			<br /><br />
			<div class="thumbnail col-sm-4">
				<h3>{{ al.desc }}</h3>
				<p>Categoria: {{ al.cat_alimento }}</p>
				<p>Cor: 
					{% if al.cor == "1" %} Branco
					{% elif al.cor == "2" %} Preto
					{% elif al.cor == "3" %} Vermelho
					{% elif al.cor == "4" %} Laranja
					{% elif al.cor == "5" %} Amarelo
					{% elif al.cor == "6" %} Verde Escuro
					{% elif al.cor == "7" %} Verde Claro
					{% elif al.cor == "8" %} Roxo
					{% elif al.cor == "9" %} Pardo
					{% else %} Marrom
					{% endif %}
				</p>
			</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% endblock %}