{% extends "base.html" %}

{% block body%}
<div class="container-fluid">
	<div class="container">
			<h2>Alimento</h2>
			<a href="/editcardapio/{{ c.id }}"><button type="button" class="btn btn-info">Editar</button></a>
			<a href="/deletecardapio/{{ c.id }}"><button type="button" class="btn btn-danger">Deletar</button></a>
			<a href="/cardapios/"><button type="button" class="btn btn-default">Voltar</button></a>
			<a href="/prep_cardapio/{{ c.id }}"><button type="button" class="btn btn-info">Adicionar Preparações</button></a>
			<br /><br />

			<div class="thumbnail col-sm-4">
				<h3>Dia: {{ c.dia }}/{{ c.mes }}</h3>
				{% if p_card %}
					{% for p in p_card %}
						<br />- {{ p.prep.desc }}
					{% endfor %}
				<div> 
					<br />
					<h4>Qualidade Nota: {{ nota }} </h4>
					<ul> 
						{% if item.r1 == 1 %}
							<li>( + ) Não possui mais de um alimento repetido nas preparações.</li>
						{% else %}
							<li>( - ) Possui mais de um alimento repetido nas preparações.</li>
						{% endif %}

					</ul> 
					<ul> 
						{% if item.r2 == 1 %}
							<li>( + ) Não possui mais de uma preparação com cores repetidas.</li>
						{% else %}
							<li>( - ) Possui mais de uma preparação com cores repetidas.</li>
						{% endif %}

					</ul> 
					<ul> 
						{% if item.r7 == 1 %}
							<li>( + ) Não possui preparações ricas em sódio.</li>
						{% else %}
							<li>( - ) Possui pelo menos uma preparação sulfurosa.</li>
						{% endif %}

					</ul> 
					<ul> 
						{% if item.r8 == 1 %}
							<li>( + ) Não possui preparações ricas em enxofre.</li>
						{% else %}
							<li>( - ) Possui pelo menos uma preparação sulfurosa.</li>
						{% endif %}

					</ul> 
					<ul> 
						{% if item.r10 == 1 %}
							<li>( + ) Não possui duplicidade de cocção.</li>
						{% else %}
							<li>( - ) Possui duplicidade de cocção.</li>
						{% endif %}

					</ul> 
					<ul> 
						{% if item.r4 == 1 %}
							<li>Não possui carne gordurosa.</li>
						{% else %}
							<li>Possui carne gordurosa.</li>
						{% endif %}

					</ul> 
					<div>
					{% endif %}
			</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


{% endblock %}